/* Card design */
.footer{
  background-color: rgb(51, 51, 51);
  color: white;
  padding:15px;
}

.inline-list{
  list-style: none;
  margin: 10px;
}

.footer-list{
  display: inline;
  text-align: left;
}

.footer-text{
  text-align: right;
}

